@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Here's all you need to know about us !</p>
The Arts Club Company is one of largest company which supports music and people passioned about art.<br />
Now in its 9th season, the Arts Club offers professional live theatre at three venues, as well as on tour.<br />
<br />
Music affects you in many ways; however, it primarily affects your brain, through which the rest of your body can be affected. Music is an excellent therapeutic tool for the brain, because it activates so many parts of it. Music’s pitch, rhythm, meter and timbre are processed in both the left and right hemispheres of the brain. Listening to music triggers the areas of the brain that have to do with spatial reasoning. Music can even alter the brain if it is studied from a young age.
<style>
    body {
        background-image: url("/Images/background3.jpg");
        background-repeat: no-repeat;
        color: white;
        text-shadow: 1px 1px #000000;
    }
</style>
<style>
    body {
        background-image: url("/Images/background3.jpg");
        background-repeat: no-repeat;
        text-shadow: 1px 1px #000000;
    }
</style>
<h2>
    About Art..
</h2>
Art is a form of human expression. Art can be seen as the artist sleight of hand on his mood.  Art is in various media from posters to public wall of which we call “graffiti”. Art is elusive as the use of colors shapes and the surface used adds a new dimension. Art portrays various ideas, feelings such as triumph, love, happiness, sorrow and boredom in loss to mention a few. Art is beauty and creativity.  During man’s evolution art has progressed over in its most primitive state up to its most modernized versions today.
