
@{
    ViewData["Title"] = "Administration";
}
@*<h2>@ViewData["Title"]</h2>*@
<h3>@ViewData["Message"]</h3>
<style>
    body {
        background-image: url("/Images/AdminBackground.png");
        background-repeat: no-repeat;
        color: white;
        text-shadow: 1px 1px #000000;
    }
</style>

