@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<style>
    body {
        background-image: url("/Images/background3.jpg");
        background-repeat: no-repeat;
        color: white;
        text-shadow: 1px 1px #000000;
    }
</style>
<address>
    Art Rue<br />
    Redmond, No.4<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@artclub.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@artclub.com</a>
</address>
