@{
    ViewData["Title"] = "Program";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<style>
    body {
        background-image: url("/Images/background3.jpg");
        background-repeat: no-repeat;
        color: white;
        text-shadow: 1px 1px #000000;
    }
 </style>

    <address >
    <abbr > Monday - Friday: </abbr >
    18:00 - 18:00
    <br / >
    <abbr > Saturday: </abbr >
    10:00 - 16:00
    <br / >
    <abbr > Sunday: </abbr >
    Closed
    </address >

    <address >
    <strong > Support:</strong > <a href="mailto:artclub.app@gmail.com" > artclub.app@gmail.com</a > <br / >
    <strong > Marketing:</strong > <a href="mailto:artclub.app@gmail.com" > artclub.app@gmail.com</a >
    </address >
