
@{
    ViewData["Title"] = "AccessDenied";
}
<style>
    body {
        /*background-image: url("/Images/piano_wallpaper.jpg");*/
        background-repeat: no-repeat;
        background-color: red;
        color: white;
        text-shadow: 1px 1px #000000;
    }
</style>
<h2>AccessDenied</h2>

