@model Art.Models.Invoice

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        background-image: url("/Images/invoiceImage.jpg");
        background-repeat: no-repeat;
        color: white;
        text-shadow: 1px 1px #000000;
    }
</style>
<h2>Create</h2>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdInvoice" class="control-label"></label>
                <input asp-for="IdInvoice" class="form-control" />
                <span asp-validation-for="IdInvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkGuidUser" class="control-label"></label>
                <select asp-for="FkGuidUser" class="form-control" asp-items="ViewBag.FkGuidUser"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkIdEvent" class="control-label"></label>
                <select asp-for="FkIdEvent" class="form-control" asp-items="ViewBag.FkIdEvent"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

